/* Общий стиль для всех селекторов */
select {
    display: block;
    font-size: 16px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #ffffffb1;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #00000054;
    color: #ffffffb1;
    font-family: 'Montserrat', sans-serif;
}
select:focus{
    border: 1px solid #fff;
    background-color: #00000078;
    color: #ffffff;
}

/* Стиль для стрелки вниз */
select::-ms-expand {
    display: none;
}

select::-webkit-scrollbar {
    width: 10px;
}

select::-webkit-scrollbar-thumb {
    background: #888;
}

/* Стиль для выделенного элемента */
select option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Стиль для всех остальных элементов */
select option {
    background-color: #fff;
    color: #000;
}